{% extends 'plantilla/maestro.html' %}
{% load static %}
{% block content %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Formulario de Descuento</h1>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Registro
                <a class="btn btn-danger col-2 btn-sm" href="{% url 'descuento_list' %}"> Regresar </a>
            </div>
            <div class="card-body">
                <form method="post" id="descuentoForm">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_cantidad_total_minima_venta" class="form-label">Cantidad Total Mínima de Venta:</label>
                        {{ form.cantidad_total_minima_venta }}
                        {{ form.cantidad_total_minima_venta.errors }}
                    </div>

                    <div class="mb-3" id="div_rango_venta">
                        {{ form.rango_venta.label_tag }}
                        {{ form.rango_venta }}
                        {{ form.rango_venta.errors }}
                    </div>

                    <div class="mb-3" id="div_cantidad_total_maxima_venta">
                        <label for="id_cantidad_total_maxima_venta" class="form-label">Cantidad Total Máxima de Venta:</label>
                        {{ form.cantidad_total_maxima_venta }}
                        {{ form.cantidad_total_maxima_venta.errors }}
                    </div>

                    <!-- Modificado para usar toggleSinLimiteVenta -->
                    <div class="mb-3" id="div_sin_limite_venta">
                        {{ form.sin_limite_venta.label_tag }}
                        {{ form.sin_limite_venta }}
                        {{ form.sin_limite_venta.errors }}
                    </div>

                    <div class="mb-3">
                        {{ form.porcentaje_descuento.label_tag }}
                        {{ form.porcentaje_descuento }}
                        {{ form.porcentaje_descuento.errors }}
                    </div>

                    <div class="mb-3">
                        <label for="id_cantidad_minimo_productos" class="form-label">Cantidad Mínima de Productos:</label>
                        {{ form.cantidad_minimo_productos }}
                        {{ form.cantidad_minimo_productos.errors }}
                    </div>

                    <div class="mb-3" id="div_rango_productos">
                        {{ form.rango_productos.label_tag }}
                        {{ form.rango_productos }}
                        {{ form.rango_productos.errors }}
                    </div>

                    <div class="mb-3" id="div_cantidad_maxima_productos">
                        <label for="id_cantidad_maxima_productos" class="form-label">Cantidad Máxima de Productos:</label>
                        {{ form.cantidad_maxima_productos }}
                        {{ form.cantidad_maxima_productos.errors }}
                    </div>

                    <!-- Modificado para usar toggleSinLimiteProductos -->
                    <div class="mb-3" id="div_sin_limite_productos">
                        {{ form.sin_limite_productos.label_tag }}
                        {{ form.sin_limite_productos }}
                        {{ form.sin_limite_productos.errors }}
                    </div>

                    <div class="mb-3" id="div_linea_producto">
                        {{ form.linea_producto.label_tag }}
                        {{ form.linea_producto }}
                        {{ form.linea_producto.errors }}
                    </div>

                    <div class="mb-3">
                        {{ form.limitar_clientes.label_tag }}
                        {{ form.limitar_clientes }}
                        {{ form.limitar_clientes.errors }}
                    </div>

                    <div class="mb-3" id="div_canal_cliente">
                        {{ form.canal_cliente.label_tag }}
                        {{ form.canal_cliente }}
                        {{ form.canal_cliente.errors }}
                    </div>

                    <button type="submit" class="btn btn-primary mt-3">Guardar</button>
                </form>
            </div>
        </div>
    </div>
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        <strong>Error en el formulario:</strong>
        {{ form.errors }}
    </div>
    {% endif %}
</main>
<script>
    function toggleCanalCliente() {
        var divCanalCliente = document.getElementById('div_canal_cliente');
        var limitarClientesCheckbox = document.getElementById('id_limitar_clientes');
        var canalClienteField = document.getElementById('id_canal_cliente');

        if (limitarClientesCheckbox.checked) {
            divCanalCliente.style.display = 'block';
            canalClienteField.disabled = false;
        } else {
            divCanalCliente.style.display = 'none';
            canalClienteField.disabled = true;
        }
    }

    function toggleCantidadMaximaVenta() {
        var divCantidadMaximaVenta = document.getElementById('div_cantidad_total_maxima_venta');
        var rangoVentaCheckbox = document.getElementById('id_rango_venta');
        var cantidadMaximaVentaField = document.getElementById('id_cantidad_total_maxima_venta');
        var divSinLimiteVenta = document.getElementById('div_sin_limite_venta');
        var sinLimiteVentaField = document.getElementById('id_sin_limite_venta');

        if (rangoVentaCheckbox.checked) {
            divCantidadMaximaVenta.style.display = 'block';
            cantidadMaximaVentaField.disabled = false;
            divSinLimiteVenta.style.display = 'none';
            sinLimiteVentaField.removeAttribute('required');
            sinLimiteVentaField.checked = false;
        } else {
            divCantidadMaximaVenta.style.display = 'none';
            cantidadMaximaVentaField.disabled = true;
            divSinLimiteVenta.style.display = 'block';
            sinLimiteVentaField.setAttribute('required', 'required');
        }
    }

    function toggleCantidadMaximaProducto() {
        var divCantidadMaximaProducto = document.getElementById('div_cantidad_maxima_productos');
        var rangoProductosCheckbox = document.getElementById('id_rango_productos');
        var cantidadMaximaProductoField = document.getElementById('id_cantidad_maxima_productos');
        var divSinLimiteProductos = document.getElementById('div_sin_limite_productos');
        var sinLimiteProductosField = document.getElementById('id_sin_limite_productos');

        if (rangoProductosCheckbox.checked) {
            divCantidadMaximaProducto.style.display = 'block';
            cantidadMaximaProductoField.disabled = false;
            divSinLimiteProductos.style.display = 'none';
            sinLimiteProductosField.removeAttribute('required');
            sinLimiteProductosField.checked = false;
        } else {
            divCantidadMaximaProducto.style.display = 'none';
            cantidadMaximaProductoField.disabled = true;
            divSinLimiteProductos.style.display = 'block';
            sinLimiteProductosField.setAttribute('required', 'required');
        }
    }

    function toggleSinLimiteVenta() {
        var divRangoVenta = document.getElementById('div_rango_venta');
        var sinLimiteVentaCheckbox = document.getElementById('id_sin_limite_venta');
    
        divRangoVenta.style.display = sinLimiteVentaCheckbox.checked ? 'none' : 'block';
    }
    
    function toggleSinLimiteProductos() {
        var divRangoProductos = document.getElementById('div_rango_productos');
        var sinLimiteProductosCheckbox = document.getElementById('id_sin_limite_productos');
    
        divRangoProductos.style.display = sinLimiteProductosCheckbox.checked ? 'none' : 'block';
    }

    function toggleRangoVenta() {
        var rangoVentaCheckbox = document.getElementById('id_rango_venta');
        var sinLimiteVentaCheckbox = document.getElementById('id_sin_limite_venta');
        var sinLimiteVentaField = document.getElementById('id_sin_limite_venta');
    
        // Desmarcar sinLimiteVentaCheckbox si rangoVentaCheckbox está marcado
        if (rangoVentaCheckbox.checked) {
            sinLimiteVentaCheckbox.checked = false;
            sinLimiteVentaField.disabled = true;  // Deshabilitar sin_limite_venta
            sinLimiteVentaField.value = null;    // Establecer el valor en nulo
        } else {
            sinLimiteVentaField.disabled = false;  // Habilitar sin_limite_venta
        }
    }    

    function toggleRangoProductos() {
        var rangoProductosCheckbox = document.getElementById('id_rango_productos');
        var sinLimiteProductosCheckbox = document.getElementById('id_sin_limite_productos');
        var sinLimiteProductosField = document.getElementById('id_sin_limite_productos');
    
        // Desmarcar sinLimiteProductosCheckbox si rangoProductosCheckbox está marcado
        if (rangoProductosCheckbox.checked) {
            sinLimiteProductosCheckbox.checked = false;
            sinLimiteProductosField.disabled = true;  // Deshabilitar sin_limite_productos
            sinLimiteProductosField.value = null;    // Establecer el valor en nulo
        } else {
            sinLimiteProductosField.disabled = false;  // Habilitar sin_limite_productos
        }
    }        

    document.addEventListener('DOMContentLoaded', function () {
        // Obtener referencias a los elementos del formulario
        var rangoVentaCheckbox = document.getElementById('id_rango_venta');
        var sinLimiteVentaCheckbox = document.getElementById('id_sin_limite_venta');
        var rangoProductosCheckbox = document.getElementById('id_rango_productos');
        var sinLimiteProductosCheckbox = document.getElementById('id_sin_limite_productos');
    
        // Mostrar u ocultar div_rango_venta según el estado de sinLimiteVentaCheckbox
        function toggleSinLimiteVenta() {
            var divRangoVenta = document.getElementById('div_rango_venta');
            divRangoVenta.style.display = sinLimiteVentaCheckbox.checked ? 'none' : 'block';
        }
    
        // Mostrar u ocultar div_rango_productos según el estado de sinLimiteProductosCheckbox
        function toggleSinLimiteProductos() {
            var divRangoProductos = document.getElementById('div_rango_productos');
            divRangoProductos.style.display = sinLimiteProductosCheckbox.checked ? 'none' : 'block';
        }
    
        // Asociar eventos de cambio a los checkbox relevantes
        sinLimiteVentaCheckbox.addEventListener('change', toggleSinLimiteVenta);
        sinLimiteProductosCheckbox.addEventListener('change', toggleSinLimiteProductos);
    
        // Llamadas iniciales para configurar el estado inicial
        toggleSinLimiteVenta();
        toggleSinLimiteProductos();
    });

    document.getElementById('id_limitar_clientes').addEventListener('change', toggleCanalCliente);
    document.getElementById('id_rango_venta').addEventListener('change', toggleCantidadMaximaVenta);
    document.getElementById('id_rango_productos').addEventListener('change', toggleCantidadMaximaProducto);
    document.getElementById('id_sin_limite_venta').addEventListener('change', toggleSinLimiteVenta);
    document.getElementById('id_sin_limite_productos').addEventListener('change', toggleSinLimiteProductos);
    document.getElementById('id_rango_venta').addEventListener('change', toggleRangoVenta);
    document.getElementById('id_rango_productos').addEventListener('change', toggleRangoProductos);

    toggleCanalCliente();
    toggleCantidadMaximaVenta();
    toggleCantidadMaximaProducto();
    toggleSinLimiteVenta();
    toggleSinLimiteProductos();
    toggleRangoProductos();
    toggleRangoVenta();
</script>
{% endblock %}