{% extends 'plantilla/maestro.html' %}
{% load static %}
{% block content %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Detalle de Descuento</h1>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Lista de Descuentos
                <a class="btn btn-primary col-2 btn-sm" href="{% url 'descuento_create' %}"> Agregar  </a>
            </div>
            <div class="card-body">
                <table id="datatablesSimple" class="table">
                    <thead>
                        <tr>
                            <th>Mínima Venta</th>
                            <th>Rango Venta</th>
                            <th>Máxima Venta</th>
                            <th>Sin Limite Venta</th>
                            <th>Porcentaje Descuento</th>
                            <th>Mínimo Productos</th>
                            <th>Rango Productos</th>
                            <th>Máximo Productos</th>
                            <th>Sin Limite Productos</th>
                            <th>Línea de Producto</th>
                            <th>Limitar Clientes</th>
                            <th>Canal del Cliente</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for descuento in object_list %}
                        <tr>
                            <td>{{ descuento.cantidad_total_minima_venta }}</td>
                            <td>{{ descuento.rango_venta }}</td>
                            <td>{{ descuento.cantidad_total_maxima_venta }}</td>
                            <td>{{ descuento.sin_limite_venta }}</td>
                            <td>{{ descuento.porcentaje_descuento }}%</td>
                            <td>{{ descuento.cantidad_minimo_productos }}</td>
                            <td>{{ descuento.rango_productos }}</td>
                            <td>{{ descuento.cantidad_maxima_productos }}</td>
                            <td>{{ descuento.sin_limite_productos }}</td>
                            <td>{{ descuento.linea_producto }}</td>
                            <td>{{ descuento.limitar_clientes}}</td>
                            <td>{{ descuento.canal_cliente }}</td>
                            <td>
                                <a href="{% url 'descuento_update' pk=descuento.pk %}" class="btn btn-warning btn-sm">Editar</a>
                                <a href="{% url 'descuento_delete' pk=descuento.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}