{% extends 'plantilla/maestro.html' %}
{% load static %}
{% block content %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Marcas</h1>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Lista de marcas
            <a class="btn btn-primary col-2 btn-sm" href="{% url 'marca_create' %}"> Agregar  </a>
        </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Código de Marca</th>
                            <th>Nombre de Marca</th>
                            <th>Acciones</th>
                          </tr>
                    </thead>
                 
                <tbody>
                    {% for Marcas in object_list %}
                    <tr>
                      <td>{{ Marcas.codigo_marca }}</td>
                      <td>{{ Marcas.marca_nombre }}</td>
                      <td>
                        <a href="{% url 'marca_update' pk=Marcas.pk %}" class="btn btn-warning btn-sm">Editar</a>
                        <a href="{% url 'marca_delete' pk=Marcas.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

{% endblock %}