{% extends 'plantilla/maestro.html' %}
{% load static %}
{% block content %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Bienvenido al Sistema de Bonificación</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">PROYECTO TALLER DE LENGUAJES DE PROGRAMACIÓN</li>
        </ol>
        <p>Integrantes: </p>
        <li>Ballena Ruiz Juan</li>
        <li>Guerrero Herrera Alfredo</li>
        <li>Mera Burga Piero</li>
        <li>Rivera Cartagena Angig</li>
</main>

{% endblock %}